# Core WordPress files
/wordpress/
/wp-admin/
/wp-includes/
/wp-*.php
/index.php
/xmlrpc.php
/license.txt
/readme.html

# Configuration
wp-config.php

# Uploads
/wp-content/uploads/

# Cache & logs
/wp-content/cache/
*.log

# Themes & plugins you don't want tracked
/wp-content/plugins/*
!/wp-content/plugins/your-custom-plugin/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node / Composer (if used)
node_modules/
vendor/


# Editor history files
.history/
.history/*
*.history